* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameboard {
    width: 80%;
    height: 500px;
    border: 10px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 60px;
    animation: pipeanimation 2s infinite linear;
}

.mario {
    width: 100px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jumpanimation 850ms ease-out;
}

.clouds {
    width: 550px;
    position: absolute;
    animation: cloudsanimation 20s infinite linear;
}

@keyframes pipeanimation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jumpanimation {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes cloudsanimation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }

}